<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <ui:include src="menu.xhtml" />
        <h:panelGrid columns="2">
            <p:fieldset legend="Registro de Cliente">
                <h:form id="cliente">
                    <h:panelGrid columns="2">
                        <p:outputLabel value="Nombre" />
                        <p:inputText value="#{detalles.cliente.nombre}" />
                        <p:outputLabel value="Apellido" />
                        <p:inputText value="#{detalles.cliente.apellido}" />
                        <p:outputLabel value="Direccion" />
                        <p:inputText value="#{detalles.cliente.direccion}" />
                        <p:outputLabel value="Fecha de Nacimiento" />
                        <p:calendar value="#{detalles.cliente.fechaNacimiento}" pattern="yyyy-MM-dd"/>
                        <p:outputLabel value="Telefono" />
                        <p:inputText value="#{detalles.cliente.telefono}" />
                        <p:outputLabel value="Email" />
                        <p:inputText value="#{detalles.cliente.email}" />
                        <p:commandButton value="Registrar" actionListener="#{detalles.regCliente()}" update="cliente,:data"/>
                    </h:panelGrid>
                </h:form>
            </p:fieldset>
            <p:fieldset legend="Lista de clientes">
                <h:form id="data">
                    <p:dataTable value="#{detalles.lsClientes}" var="clie" paginator="true" rows="8">
                        <p:column headerText="Nombre">
                            <p:outputLabel value="#{clie.nombre}" />
                        </p:column>
                        <p:column headerText="Facturas">
                            <p:commandButton value="Ver" actionListener="#{detalles.facturas(clie)}" />
                        </p:column>
                    </p:dataTable>
                </h:form>
            </p:fieldset>
        </h:panelGrid>
    </h:body>
</html>

