<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <ui:include src="menu.xhtml" />
        <h:panelGrid title="Lista de productos" columns="1">
            <h:form>
                <p:fieldset legend="Lista de productos">
                    <p:dataTable value="#{detalles.lsProductos}" var="pro">
                        <p:column headerText="Nombre">
                            <p:outputLabel value="#{pro.nombre}" />
                        </p:column>
                        <p:column headerText="Precio">
                            <p:outputLabel value="#{pro.precio}" />
                        </p:column>
                        <p:column headerText="Stock">
                            <p:outputLabel value="#{pro.stock}" />
                        </p:column>
                    </p:dataTable>
                </p:fieldset>
            </h:form>
        </h:panelGrid>
    </h:body>
</html>

